<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<style type="text/css">     
    select {
        width:130px;
    }
</style>
<body>
  <h1>Global Terrorist Attack Database: Welcome!</h1>
  Select a date to learn more about the attacks which took place on that day.

<form method="POST" action="/query">
  <select name = "date" size="20">
  {% for n in data %}
    <option value="{{ n }}">{{ n }}</option>
  {% endfor %}
  </select>
  <br><br>
  <input type="submit">
</form>
<p>Search the database:</p>
<p>Select a category to Search:</p>
<form method="POST" action="/search">
  <select name = "tables" size="4">
  {% for n in data1 %}
    <option value="{{ n }}">{{ n }}</option>
  {% endfor %}
  </select>
  <br><br>
  <input type="submit">
</form>
<p>Search based on weapon:</p>
<form method="POST" action="/search">
    <input name="text">
    <input type="submit">
</form>

  <h1>Notorious attacks
<h6><a href="nine_eleven">9/11 Attacks</a></h6>
<h6><a href="okc">Oklahoma City Bombing</a></h6>

</body>


</html>
